/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**common**/
label,input,textarea,button
{
     font-size: inherit;
     font-family: inherit;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Poppins,sans-serif;
    object-fit: cover;
}
h1,h2,h3,h4,h5{
    font-family: Sora,sans-serif;
}
a{
	text-decoration: none;
}
:root{
	--primary-color:#fffaf5;

}
/**		Header	 **/
.header{
	padding: 10px 0;
	background: var(--primary-color);

}
.container{
	width: 1440px;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}
.header__inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navigation__list{
	display: flex;
}
.navigation__link{
	display: inline-block;
	font-family: Poppins;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.4rem;
	padding: 16px 36px;
	color: #5E6085;
}
.navigation__link:hover{
	font-family: Poppins;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.4rem;
	color: #000958;
}
.header__box{
	display: flex;
	gap: 20px;
}
.btn{
	display: inline-block;
	min-height: 56px;
	width: 117px;
	font-family: Poppins;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.4rem;
	line-height: 56px;
	text-align: center;
	color: #000958 ;
	border: 1px solid rgba(0,9,88,0.7);
	border-radius: 25px;
}

